<div class="card">
    <div class="card-body">
        <h1>{{post.title}}</h1>
        <hr>
        <small>Categoria: {{post.category.name}}</small>
        <br>
        <small>Data de publicação: {{post.date}}</small>
        <hr>
        <p>{{post.content}}</p>

    </div>
</div>